<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="DBCS" connectionString="Data Source=JAMES-PC\SQLEXPRESS;Initial Catalog=LibraryDB;Integrated Security=True;MultipleActiveResultSets=true" />
  <add name="_10553527_B8IT150_CA1.Properties.Settings.LibraryDBConnectionString"
   connectionString="Data Source=JAMES-PC\SQLEXPRESS;Initial Catalog=LibraryDB;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>